<!DOCTYPE html>
<html>
    <%= stylesheet_link_tag "default" %>
    <head>
        <title><%= content_for?(:title) ? yield(:title) : "Polygen Questions" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Polygen Questions" %>">
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= yield(:head) %>
    </head>
    <body>
        <%= yield %>
    </body>
    <footer>
        <p>Powered by <a href="http://www.polygen.org/">polygen</a> and <a href="http://www.rubyonrails.org/">Ruby on Rails</a>.
        Full <a href="https://bitbucket.org/Enucatl/polygen-ror/src/master/bin/progressreport.grm">grammar source code</a>.</p>
        <p> <%= get_git_version %> </p>
    </footer>
</html>
